# Mac OS X
*.DS_Store


# Xcode
*.pbxuser
*.xcworkspace
.env
*.pem
*credentials*
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*.xcuserstate
bin/
xcuserdata/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project

.swiftpm
.build/

## Generic Files To Ignore
*~
*.swp
*.out

*.xcuserstate

.DS_Store

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
Carthage/Checkouts
# Carthage/Build

AppStoreBuild

# Ignore MS Office scratch files
*/~$*

# Ignore CocoaPods
Pods/