# Mac OS X
*.DS_Store


# Xcode
*.xcworkspace
.env
*.pem
*credentials*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*.xcuserstate
build/
bin/
target/
xcuserdata/

## Generic Files To Ignore
*~
*.swp
*.out

# Carthage
Carthage/Checkouts
# Carthage/Build

AppStoreBuild

# Ignore MS Office scratch files
*/~$*

# Ignore CocoaPods
Pods/